* {
  box-sizing: border-box;
}
body {
  font-family: 'PT Root UI', sans-serif;
}
.index {
  .wrapper {
    display: flex;

    nav {
      width: 50%;
    }
  }
  .categoryGames {
    background-color: #f0f0f0;
    border-radius: 2rem;

    h2 {
      font-size: 2rem;
      padding: 2rem 0;
    }
    .games {
      width: 98%;
      min-width: 996px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      .cardGame {
        width: 24.1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        background-color: white;
        border-radius: 1rem;
        padding: 1rem;

        img {
          border-radius: 1rem;
        }

        &.sizeM {
          width: 49.4%;
          flex-direction: row;
          gap: 12px;

          .cardInfo {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
          }
        }

        h3 {
          font-size: 1.5rem;
        }

        .cardTags {
          display: flex;
          gap: 0.5rem;

          .cardTag {
            display: flex;
            gap: 0.25rem;
            justify-content: center;
            align-items: center;
            padding: 0.25rem 0.5rem;
            background-color: #bdbdbd;
            color: white;
            border-radius: 0.25rem;

            .icon {
              width: 10px;
              height: 10px;
              background-size: contain;
              background-repeat: no-repeat;

              &.playersIcon {
                background-image: url('https://img.icons8.com/material-rounded/48/user-group-man-woman.png');
              }
              &.timeIcon {
                background-image: url('https://img.icons8.com/ios-glyphs/60/time--v1.png');
              }
            }
            p {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
